*{
    padding:0px;
    margin:0px;

}
nav{
    height:50px;
    top:30px;
    background-color: azure;
   display: inline;
    display: block;
    }
    nav ul li{
    list-style-type:none;
    margin-left: 100px;
    width:150px;
    float:left;
    text-align:center;
    margin-top:10px;
    }
    li a{
    text-decoration:none;
    color:black;
    line-height: 30px;
    display:block;
    }
   
    .fit{
        width:1263px;
        height:600px;
        text-align:center;
        background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
        background-size:100% 100%;                    
        background-repeat:   no-repeat;
        animation-name:change;
        animation-duration:10s;
        animation-iteration-count: infinite;
        }
        @keyframes change{
        0%{
        background-image: url("lukas-blazek-f-TWhXOrLiU-unsplash.jpg");
        }
        50%{
        background-image: url("jakub-kapusnak-sDbj1dFlFPU-unsplash.jpg");
        }
        100%{
        background-image: url("brooke-lark-wMzx2nBdeng-unsplash.jpg");
        }
        }
        h1{
            color: rgb(78, 75, 75);
            font-size: 20px;
        }
        p1{
            font-size: 30px;
        }
        p2{
            font-size:50px;
            z-index: 1;
        }
        p3{
            font-size:20px;
        }
        .back{
            display:grid;
            grid-template-rows: auto;
        }
        .divid{
            display: grid;
            grid-template-columns: 50% 40%;
            grid-column-gap:10%;

        }
        .img2{
            max-width: 100%;
            width:500px;
            height:600px;
            margin-left: 40px;
            margin-top: 20px;
            margin-bottom: 20px;
            border-radius:20px;
        }
        .img3{
            max-width: 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            margin-left:100px;
            margin-top:70px;
        }
        .img4{
            max-width: 100%;
            width:200px;
            height:200px;
            border-radius:10px;
            margin-right:10px;
            margin-top: 20px;
        }
        .img5{
            max-width: 100%;
            width:200px;
            height:200px;
            border-radius:10px;
            margin-left:50px;
            margin-bottom: -10px;
        }
        .img6{
            max-width: 100%;
            width:150px;
            height:150px;
            border-radius:10px;
        }
        .head{
            position:relative;
        }
        p4{ 
            font-size: 40px;
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(14, 14, 46);
            }
        p8{   
            font-size: 40px; 
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(14, 14, 46); 
        }
        .divi1{
            margin-top:100px;
            max-width:100%;
        }
        .divid1{
            display:grid;
            grid-template-rows: 50% 50%;
            margin-top: 60px;
        }
        .divid2{
            display:grid;
            grid-template-columns: 50% 50%;
            margin-top: 20px;
        }
        .img7{
            max-width: 100%;
            width:800px;
        height:400px;
        margin-left: 250px;
        margin-top:50px;
        border-radius: 5px;
        opacity:0.7;
        }
        p10{
            margin-left:10px;
        }
        h2{
            margin-left:500px;
            font-size: 40px; 
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(14, 14, 46);
        }
        p5{
            margin-left:500px;
            font-size: 40px; 
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(14, 14, 46);
        }
        p6{
            font-size: 25px; 

        }
        p7{
            font-family: Arial, Helvetica, sans-serif;
            word-spacing:100px;
            font-size:20px;
            
        }
        .gri1{
         display: grid;
         grid-template-rows: 50% 50%;
         margin-top: 20px;
        }
        .gri2{
         display:grid;
         grid-template-columns: 30% 30% 30%;
        margin-left:230px;
        grid-column-gap: 5px;
        }
        .food1{
         width: 280px;
         height:200px;
         border-radius: 10px;
        }
        .recipe{
            display: flex;
            flex-direction: row;
            margin-left:35px;
            margin-top: 20px;
            flex-wrap: wrap;
            height: 200px;
        }
        .hovr1{
            height:220px;
            margin-top: 20px;
            padding-right:10px;
            flex: 1;
            margin-left:20px;
        }
        .hovr2{
            height:220px;
            margin-top: 20px;
            flex: 1;
        }
        .hovr3{
            height:220px;
            margin-top: 20px;
            flex: 1;
                    }
        .hovr4{
            height:220px;
            margin-top: 20px;
            flex: 1;
        }
        .photo1{
            max-width: 100%;
            position: relative;
            width:260px;
            height:200px;
            border-radius:10px;
        }
        .hovr1:hover .photo1 {
            opacity: 0.5;
            transform:scale(1.1);
        }
        .hovr1:hover p12 {
            visibility:visible;
                    }
         .hovr1:hover .size1 {
         visibility:visible;
                       }           

        .photo2{
            max-width: 100%;
            position: relative;
            width:260px;
            height:200px;
            border-radius:10px;
        }
        .hovr2:hover .photo2 {
            opacity: 0.5;
            transform:scale(1.1);
        }
        .hovr2:hover p13 {
            visibility:visible;
        }
        .hovr2:hover .size2 {
            visibility:visible;
        }
        .hovr3:hover .photo3 {
            opacity: 0.5;
            transform:scale(1.1);
        }
        .hovr3:hover p14 {
            visibility:visible;
        }
        .hovr3:hover .size3 {
            visibility:visible;
        }
        .photo3{
            max-width: 100%;
            position: relative;
            width:260px;
            height:200px;
            border-radius:10px;
        }
        .hovr4:hover .photo4 {
            opacity: 0.5;
            transform:scale(1.1);
        }
        .hovr4:hover p15{
            visibility: visible;
            }
            .hovr4:hover .size4{
                visibility: visible;
                }
        .photo4{
            max-width: 100%;
            position: relative;
            width:260px;
            height:200px;
            border-radius:10px;
        }
        
        .button1{
          height:50px;
          width: 180px;
          margin-top: 100px;
          margin-left:200px;
          background-color: orangered;
          border-color: orangered;
          border-radius: 1px;
          color:white;
        }
        .button2{
            height:50px;
            width: 180px;
            margin-top: 50px;
            margin-left:250px;
            background-color: orangered;
            border-color: orangered;
            border-radius: 1px;
            color:white;
        }
        p9{
            font-size:20px;
        }
        p11{
            font-size:20px;
        }
        .body{
            background-color: rgb(241, 234, 234);
            width:fit-content;
          
        }
        .button3{
            height:50px;
            width: 180px;
            margin-left:600px;
            margin-top:30px;
            background-color: orangered;
          border-color: orangered;
          border-radius: 1px;
          color:white;
        }
        .button4{
            height:50px;
            width: 180px;
            background-color: orangered;
          border-color: orangered;
          border-radius: 1px;
          color:white;
          border-top-right-radius: 10px;
          border-bottom-right-radius:10px;
          
        }
        input{
            margin-left:410px;
            margin-top:50px;
            height:46px;
            width:350px;
            margin-right:-5px;
        }
        p10{
            margin-left:400px;
            font-size: 40px; 
            font-family:Arial, Helvetica, sans-serif;
            color: rgb(14, 14, 46);  
           
        }
       
        p12{
             position: absolute;
            top:3030px;
            text-align:left;
            max-width:250px;
            left:50px;
            font-size:15px;
            visibility: hidden;
        }
        p13{
            position: absolute;
           top:3030px;
           max-width:250px;
           font-size:15px;
           visibility: hidden;
           right:650px;
        }
        p14{
         position: absolute;
        top:3030px;
        font-size:15px;
        max-width:250px;
        text-align:left;
        visibility: hidden;
        right:350px;
        }
        p15{
     position:absolute;
    top:3030px;
    font-size:15px;
    max-width:250px;
    visibility: hidden;
    right:50px;
            }
            .footer{
                display: inline;
                position:relative;
                top:50px;
          }
          input::placeholder{
              padding-left: 50px;
              font-size: 20px;
          }
        .color{
            background-color:orangered;
        }
        .size1{
            position:absolute;
            width:40px;
            height:30px;
            border-radius:5px;
            border-color:orangered;
            top:-40px;
            left:265px;
            top:3193px;
            visibility: hidden;
        }
        .size2{
            position:absolute;
            width:40px;
            height:30px;
            border-radius:5px;
            border-color:orangered;
            top:3193px;
            left:575px;
            visibility: hidden;
        }
        .size3{
            position:absolute;
            width:40px;
            height:30px;
            border-radius:5px;
            border-color:orangered;
            margin-left:210px;
            top:3193px;
            visibility: hidden;
        }
        .size4{
            position:absolute;
            width:40px;
            height:30px;
            border-radius:5px;
            border-color:orangered;
            margin-left:210px;
            top:3193px;
            visibility: hidden;
        }
            @media(max-width:768px){
              p12{
                  position:static;
              }
            }
            @media(min-width:1063px){
               
            }
            @media (min-width: 769px) and (max-width: 1062px) {
                p8{
                    color:red;
                } 
            }